/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-xn2l5aia1e] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: lavenderblush;
}

main[b-xn2l5aia1e] {
    flex: 1;
}

.sidebar[b-xn2l5aia1e] {
    background-image: linear-gradient(180deg, rgb(235, 99, 173) 0%, #ed7ebb 30%, #eb9bc7 60%, #ebb9d4 90%);
    border-right: 1px solid black; /* Add this line */
}

.top-row[b-xn2l5aia1e] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xn2l5aia1e]  a, .top-row[b-xn2l5aia1e]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-xn2l5aia1e]  a:hover, .top-row[b-xn2l5aia1e]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-xn2l5aia1e]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-xn2l5aia1e] {
        justify-content: space-between;
    }

    .top-row[b-xn2l5aia1e]  a, .top-row[b-xn2l5aia1e]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-xn2l5aia1e] {
        flex-direction: row;
    }

    .sidebar[b-xn2l5aia1e] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xn2l5aia1e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-xn2l5aia1e]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-xn2l5aia1e], article[b-xn2l5aia1e] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

@media screen and (max-width: 1200px) {
    p[b-xn2l5aia1e] {
        word-wrap: break-word;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-r1r623j3hl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-r1r623j3hl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
}   

.navbar-brand[b-r1r623j3hl] {
    margin-left: 1.8rem;
    margin-top: -0.2rem;
    font-weight: bold;
    text-shadow: -1px 0 hotpink, 0 1px hotpink, 1px 0 hotpink, 0 -1px hotpink;
    font-size: 2rem;
}

.bi[b-r1r623j3hl] {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.container-fluid[b-r1r623j3hl]
{
    min-width: 1000px;
}

.navbar[b-r1r623j3hl]
{
    min-width:1000px;
}

.nav-item[b-r1r623j3hl] {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-r1r623j3hl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-r1r623j3hl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-r1r623j3hl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-r1r623j3hl]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-r1r623j3hl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-r1r623j3hl] {
        display: none;
    }

    .collapse[b-r1r623j3hl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-r1r623j3hl] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
